header {
  text-align:center;
  color:dodgerblue;
  font-size: 96px;
}

.image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.play {
  color:red;
  font-size:36px;
  margin-left: 42%;
  margin-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.play:hover {
  background-color:powderblue;
}

div {
  display:flex;
  height: 360px;
}

footer {
  text-align:center;
  font-size: 24px;
  color:navy;
}